<h1> <%= @post.title %> </h1>
<h3> <%= @post.body %> </h3>


<%= link_to "Edit this post", edit_category_post_path(@category, @post) %> <br>
<%= link_to "Delete this post", category_post_path(@category, @post), :method => :delete, :confirm => 'Are you sure?' %>
